.inbox {
    /* width: 94%; */
    flex-grow: 1;
    height: 88%;
    margin: 0% 1%;
    background-color: rgb(255, 255, 255, 0.02);
    position: sticky;
    top: 10%;
    left: 5%;
    border-radius: 20px;
    border: 1px solid #313131;
}