.sidebar {
    height: 100%;
    width: 4%;
    position: sticky;
    background-color: grey;
    background: rgba(255, 255, 255, 0.03);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-top: 4rem;
    font-size: small;
    z-index: 2;
}

.sidebar-icons a img {
    height: 1.2rem;
    width: 1.2rem;
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(190deg) brightness(119%) contrast(119%);
}

.sidebar-options-wrapper {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem
}

.sidebar-menu-burger a img {
    height: 1.4rem;
    width: auto;
}