.header-searchbar {
    height: 12px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em;
    border: 1px solid #1490e3;
    padding: 1rem;
    gap: 15px;
    border-radius: 20px;
}

.header-icons {
    display: flex;
    padding: 0;
}

.header-icons a {
    padding: 0;
}

.searchbar-search-icon a img {
    height: 2rem;
    width: 1.2rem;
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(190deg) brightness(119%) contrast(119%);
    ;
}


.searchbar-settings-icon a img {
    height: 2rem;
    width: 1.2rem;
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(190deg) brightness(119%) contrast(119%);
    ;
}

.searchbar-form {
    width: 90%;
}

.searchbar-searchbar {
    font-size: 1.1rem;
    border: none;
    width: 100%;
    height: 20px;
    background: transparent;
    outline: none;
    color: white;
}