#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  position: fixed;
  z-index: 1;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5%;
  overflow: hidden;
}