.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.navbar-icons a img {
    height: 1.3rem;
    width: 1.3rem;
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(190deg) brightness(119%) contrast(119%);
}